:root {
    --font-color: #424242;
    --p-color: #16181b;
}
body {
    max-width: 950px;
    min-width: 320px;
    margin:auto;
    background-color: #b8daff;
    background: url('../img/backgrounds-blank-blue-953214.jpg');
    background-size:cover ;
    background-position: center;
}

h1,p,a {
    font-family:"Yeseva One",sans-serif ;
}
a {
    font-size: large;
}

.top-navbar{
    margin:0;
}
.nav-link{
    padding: 0 0 0 0;
}

.skill_scale{
    width:70%;
    padding-right: 5%;
    padding-left: 5%;
}


header h1 {
    color: white;
    margin-bottom:0;
    background-color: var(--gray-dark);
    padding: 1.5% 0.5% 1.5% 0.5% ;
}

.header-back {
    background-image: url("../img/header_background.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
}

.par_text{
    margin:5% 5% 5% 5%;
}

.contact_form {
    padding-top:2%;
    padding-bottom:2%;
}

.form-submit{
    margin-left:45%;
}

footer{
    background-color:var(--font-color);
    display:grid;
    grid-gap:2% 5%;
    grid-template: 1fr/repeat(3,1fr);
}

footer > *{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content:space-between;
    justify-content:space-between;
}

.logo_list {
    display: flex;
    flex-direction: row;
    padding: 0;
}
.logo_pic{
    height: 80%;
    width: 80%;
}
.foot_menu{
    padding:0;
}
.bottom-nav{
    align-content: flex-start;
    justify-content:flex-start;
}
.links:first-child{
    padding-left:10%;
}

@media screen and (min-width: 600px) {
p {
    font-size: 90%;
    color:var(--p-color) ;
}
    h3{
        font-size: x-large;
    }}
@media screen and (max-width: 600px) and (min-width: 460px) {
    p{
        font-size: 60%;
        color:var(--p-color) ;}
    h3{
        font-size: large;
    }
}
@media screen and (max-width: 460px) {
    footer{
        grid-template: 1fr/1fr;}
    p{
        font-size: 30%;
        color:var(--p-color) ;}
    h3{
        font-size: medium;
    }
}
.caption-carousel .carousel-inner>.item {
    position: relative;
    max-height: 600px;
}
.carousel-caption{
position: absolute;
top: 30%;
transform: translateY(-50%);
}
.carousel-thumbnails .carousel-indicators li{
    height:15%;
    width: 15%;
}
.bright-paragraph {
    color:white ;
}
.dark-head{
    color:var(--p-color)
}

.progress {
    margin: 2% 1.5% 4% 1.5%;
}

h4{
    margin-left: 2%;
}

h4:first-child{
    padding-top: 2%;
}

ul {
    list-style-type: none;
}

.foot_menu li{
    text-align: center;
    padding-bottom:3% ;
}

a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    text-decoration: none;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.links p{
    color:whitesmoke;
    font-size:100%;
}

